main {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main-title {
  margin-top: 4rem;
}

@media(min-width: 768px) {
  main {
    padding: 0 6rem;
  }
  .main-title {
    margin-top: 8rem;
  }
}
